bin/*
.DS_Store
.env
/dist
!/build/**/attestation-node/node.attestation-node.json
!/build/**/attestation-service/node.attestation-service.json
!/build/**/fullnode/node.fullnode.json
!/build/**/validator/node.validator.json
!/build/**/proxy/node.proxy.json
!/build/**/keystore/*
